.character-item {
  flex-grow: 1;
  border: 1px solid #9aadbf;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.character-item__name {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #6d98ba;
}
