#root {
  height: 100%;
}

h1 {
  text-align: center;
}

html {
  background-color: #F0EFE9;
  height: 100%;
}

body {
  height: 100%;
}
.default-margin {
  margin: 24px
}

input {
  width: 250px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-color: #9aadbf;
  padding: 5px;
  opacity: .5;
  margin-bottom: 20px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
