.container {
  font-family: 'Roboto', sans-serif;
  padding: 0px 20px;
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-list {
  flex-grow: 1;
}

.input {
  margin: 20px;
}
